body {
    background-color:darkslategrey;
    font-size:large;
}

    body{
      margin-top: 3px;
      margin-left: 4rem;
      margin-right: 4rem;
    }

    h1 {
        background-color: lightcyan;
    }

.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}


dl { 
    list-style-type: none;
    background-color: lightcyan;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0px;
}



img {
    float: left;
    padding: 0 10px 0 0;
}